{{- with .Site.Params.planned_activities }}
<section class="planned-activities section" id="planned-activities">
  <div class="container">
    <div class="row">
      <div class="col-md-12 wow text-center">
        <div class="block">
          <h2 class="subheading">{{ .title }}</h2>
          <table style="width:100%">
            <tr>
              <th>Times</th>
              <th>UG, GR, Postdocs, Faculty</th>
              <th>High School Students</th>
            </tr>
            <tr>
              <td>9:00–9:30am</td>
              <td>Registration (SE 215)</td>
              <td style="background-color:orange"></td>
            </tr>
            <tr>
              <td>9:30–10:40am</td>
              <td>Research Presentations (SE 215)</td>
              <td style="background-color:orange"></td>
            </tr>
            <tr>
              <td>10:40–11:00am</td>
              <td>Coffee Break and Networking (SE 215)</td>
              <td>Registration (SE 215)</td>
            </tr>
            <tr>
              <td>11:00–12:00pm</td>
              <td colspan="2">Keynote Speaker (SE 215)</td>
            </tr>
            <tr>
              <td>12:00–1:30pm</td>
              <td colspan="2">Group Photo, Lunch, Math Bingo (SE 215)</td>
            </tr>
            <tr>
              <td>1:30–2:20pm</td>
              <td colspan="2">Math and Salsa Dance Activity (PS 109)</td>
            </tr>
            <tr>
              <td>2:30–3:30pm</td>
              <td colspan="2">Career Panel (PS 226)</td>
            </tr>
            <tr>
              <td>3:30–4:15pm</td>
              <td colspan="2">Celebration, Refreshments, final Networking (PS 226)</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section><!-- #planned-activities close -->
{{- end }}