@media (min-width: 768px) and (max-width: 990px) {
	.navigation {
		background: rgba(0, 0, 0, 0.3);
	}
	.navigation .navbar-brand {
		float: none;
	}

	.hero-area{
		margin-bottom: 50px;
	}

	.plenary-speaker {
		padding-bottom: 50px;
	}
}

@media (max-width: 767px) {
	#hero-area-logo{
		display: none;
	}

	.navigation {
		background: rgba(0, 0, 0, 0.3);
	}

	.navigation .navbar-brand {
		float: none;
	}

	#feature-list-left-img{
		display: none;
	}

	#plenary-speaker-image {
		margin-bottom: 20px;
	}
}